{% extends "base_generic.html" %}

{% block title %}<title>Exam Details</title>{% endblock %}
{% block content %}
    <br>
    <h1><b>Information sur  l'examen</b></h1>
    <ul class="list-group p-5">
        <li class="list-group-item"><b>id</b>: {{ Exam.id }}</li>
        <li class="list-group-item"><b>Code</b>: {{ Exam.Code }}</li>
        <li class="list-group-item"><b>Serie</b>: {{ Exam.Serie }}</li>
    </ul>
    <p class="text-center"><a href="/Exam/" class="get-started-btn scrollto" style="text-decoration:none"> Back To List of Exam</a></p>
{% endblock %}
